AL-Game/data/static_data/village/village_locations.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xs:include schemaLocation="../import.xsd"/>
	<xs:element name="village_locations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="village_location" type="villagelocation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="villagelocation">
		<xs:attribute name="id" type="xs:int"/>
		<xs:attribute name="race" type="Race"/>
	</xs:complexType>
</xs:schema>